<head>
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{{site.url}}/{{site.baseurl}}/assets/css/home.css">
    <script src="{{site.url}}/{{site.baseurl}}/assets/js/home.js"></script>
</head>
{% include nav.html %}

<div class="intro" style="width: auto; height: 100px;">
    <div>
    </div>
    
</div>
<div id="posts-heading">
    <h2>
        Posts
    </h2>
</div>
<div class="wrap" id="wrap">
    {% for post in site.posts %}
        {% include card.html title=post.title desc=post.synopsis url=post.url date=post.date%}
    {% endfor %}

</div>

{% include footer.html %}